<header>
    <span id="signupSigninMessage">
        <label>
            {{label}} <a href="{{signinSignupPageUrl}}">{{urlContent}}</a>
        </label>
    </span>
    <span id="logo">
        DRIM
    </span>
</header>