$redBorderColor: #af0000;
@mixin includeFont ( $fontType: sans-serif, $fontSize: 16px) {
    font-family: $fontType;
    font-size: $fontSize;
}
html, body {
    min-height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    padding-bottom: 60px;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
//    blur: 5px;
}

#signinFormContainer, #signupFormContainer {
    width: 400px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    @include includeFont($fontSize : 24px);
    #signinForm, #signupForm {
        padding: 10px;
        div {
            margin-top: 10px;
            @include includeFont($fontSize: 18px);
        }
        input {
            @include includeFont($fontSize: 16px);
            padding: 10px;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        #signinSubmitButton, #signupSubmitButton {
            margin-top: 20px;
            background-color: #262626;
            border: 1px solid $redBorderColor;
            color: red;
            cursor: pointer;
            font-size: 18px;
        }
    }
}
#message {
  width: 50%;
  margin: auto;
  text-align: center;
}
.message-modify {
  padding: 10px;
  border: 1px solid $redBorderColor;
  background-color: #ffcdcd;
  box-shadow: inset 0px 0px 40px #f9c7c7;
  @include includeFont();
  border-radius: 5px;
}
